* {
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info h1 {
    color: aliceblue;
}

.returnback {
    background-color: rgba(254, 235, 94, 0.634);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 5px;
}

.imagePersonnages{
    margin-top: auto;
}